NEXT_PUBLIC_PROGRAM_ID=HhXvRpC6uDfCF6sHNWv3xD2yzyjpiEW17eeK13tFaycC
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_DEMO_CONTENT_SELLO_PDA=DEMO_CONTENT_SELLO_PDA_REPLACE_AFTER_REGISTRATION

APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=sello-protocol
APPWRITE_FUNCTION_ID=fn-narrate
APPWRITE_DB_ID=sello-db
APPWRITE_AUDIO_BUCKET_ID=narrations
APPWRITE_API_KEY=
